<p>menu works!</p>
<nav>
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/ask-question">Ask Question</a></li>
      <li><a routerLink="/browse-topic">Browse Topic</a></li>
      <li><a routerLink="/help-support">Help Support</a></li>
      <li><a routerLink="/my-questions">My Questions</a></li>
      <li><a routerLink="/my-answers">My Answers</a></li>
      <li><a routerLink="/notification">Notification</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/tag-leaderboard">Tag Leaderboard</a></li>
      <li><a routerLink="/settings">settings</a></li>
      <li><a routerLink="/about">about</a></li>


    </ul>
  </nav>
  